@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  background: white;
  color: #323232;
  font-family: Lato, sans-serif;
}

input[type="text"] {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #e0e0e0;
  color: #323232;
}

a {
  text-decoration: none;
}

a:link {
  color: #386fa4;
}
a.reverse:link {
  color: white;
}
a.hidden:link {
  color: #323232;
}

a:visited {
  color: #386fa4;
}
a.reverse:visited {
  color: white;
}
a.hidden:visited {
  color: #323232;
}

a:hover {
  color: #386fa4;
  text-decoration: underline;
}
a.reverse:hover {
  color: white;
}
a.hidden:hover {
  color: #323232;
  text-decoration: none;
}

a:active {
  color: #386fa4;
}
a.reverse:active {
  color: white;
}
a.hidden:active {
  color: #323232;
}

.span {
  flex: 1;
}

#content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  padding: 1rem;
  background: #386fa4;
  color: white;
  text-align: center;
}

#top-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top-text {
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

#top-text #title {
  font-size: 1.5rem;
  font-weight: bold;
}

#search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

#search-area #info {
  text-align: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 300;
}

#query-form {
  display: flex;
}

#search-area #query-form input[type="text"] {
  width: 40rem;
  font-size: 1.5rem;
}

#search-area #query-form input[type="submit"] {
  display: block;
  border: none;
  color: white;
  background-color: #386fa4;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.sep-line {
  height: 1px;
  width: 100%;
  background: #ececec;
}

#results {
  margin: 1rem auto 1rem;
}

.search-result {
  max-width: 50rem;
  display: flex;
  padding: 1rem;
}

.search-result-title {
  font-weight: bold;
}

.search-result-subtitle {
  color: #646464;
}

.search-result-open-url {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.search-result-open-url img {
  width: 2rem;
  height: 2rem;
}

.hidden:not(a) {
  display: none;
}

#load-more {
  border: none;
  color: white;
  background-color: #386fa4;
  padding: 1rem 4rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-align: center;
  margin: 0 auto 1rem;
}
