<!DOCTYPE html>
<html>
  <head>
    <title>Coordle Search Engine</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div id="content">
      <div id="top-area" class="{{ 'span' if not searching else '' }}">
        <div id="top-text">
          <div id="title">
            <a class="hidden" href="/">Coordle</a>
          </div>
          Search engine for the CORD-19 dataset using word embeddings and TF-IDF
        </div>
        <div id="search-area">
          <div id="info">Type in a query below to get started</div>
          <form method="GET" action="/search" id="query-form">
            <input
              type="text"
              name="q"
              placeholder="i.e: coronavirus symptoms"
              id="search-box"
            />
            <input type="submit" value="Search" />
          </form>
        </div>
      </div>
      {% if searching %}
      <div class="sep-line"></div>
      <div id="results" class="{{ 'span' if searching else '' }}">
        <template id="template-search-result">
          <div class="search-result">
            <div class="search-result-content">
              <div class="search-result-title"></div>
              <div class="search-result-subtitle"></div>
              <div class="search-result-text-snippet"></div>
            </div>
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="search-result-open-url"
            >
              <img src="{{ url_for('static', filename='open-in-new.svg') }}" />
            </a>
          </div>
        </template>
      </div>
      <button type="button" id="load-more">
        Load more
      </button>
      {% endif %}
    </div>
    <div id="footer">
      Made to help defeat 🦠 by
      <a
        class="reverse"
        href="https://github.com/JonasTriki"
        rel="noopener noreferrer"
        target="_blank"
        >Jonas Triki</a
      >
      and
      <a
        class="reverse"
        href="https://github.com/Laohachot"
        rel="noopener noreferrer"
        target="_blank"
        >Naphat Amundsen</a
      >
      . Source code can be found on
      <a
        class="reverse"
        href="https://github.com/JonasTriki/inf368-exercise-3-cord-19"
        rel="noopener noreferrer"
        target="_blank"
        >GitHub</a
      >.
    </div>
  </body>
</html>
